# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.opensdf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr
*.idb
*.lib
*.map
*.pdb
*.ncb
*.suo
*.pch
*.tlog
*.bsc

# Executables
*.exe
*.dep
*.out
*.app
/core/UnicodeRelease
/core/UnicodeDebug
/core/Lib
/core/Out
/core/bin

